.app{
  box-sizing: border-box;
  width: 800px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
h1{
  margin-right: 10px;
}
